In [14]:
pessoa = 'Gabi'
idade = 20
altura = 1.60
desenvolvedora = True
print ('ola', pessoa)

ola Gabi

In [15]:
type (pessoa)

str

In [6]:
type (idade)

int

In [7]:
type (altura)

float

In [5]:
type (desenvolvedora)

bool

In [7]:
#print ('eu')

In [9]:
""" print ('eu')
print ('me')
print ('amo')"""

eu
me
amo

In [11]:
idade1 = 22

In [12]:
idade2 = 22

In [13]:
print (idade1 + idade2)

44

In [19]:
2 *(idade1 + idade2)

88

In [20]:
2 * idade1 + 3 * idade2 / 4

60.5

In [21]:
(2 * idade1 + 3 *idade2) / 4

27.5

In [22]:
idade1 ** 2

484

In [23]:
15 ** 2

225

In [24]:
idade2 // idade1

1

In [25]:
idade2 / idade1

1.0

In [26]:
idade2 % idade1

0

In [29]:
nome = 'Marilia'
sobrenome = 'Gabriela'
print (nome + sobrenome)

MariliaGabriela

In [30]:
nome = 'Marilia'
sobrenome = 'Gabriela'
print (nome , sobrenome)

Marilia Gabriela

In [31]:
print (nome + '' + sobrenome)

MariliaGabriela

In [32]:
print ('ola,', nome, 'voce tem', idade1 - 2, 'anos')

ola, Marilia voce tem 20 anos